h1 {
    font-family: "Arial", sans-serif;
  }
  
  h2 {
    font-family: "Arial", serif;
  }

  h3 {
    font-family: "Arial", serif;
  }

p {
  font-family:"stix", serif;
  font-size:16pt;
  line-height:1.3
}


details.fbx-default > summary{
  background-color: var(--title-background-color);
  color: var(--title-color);
  font-family: Arial;
  cursor: pointer;
  
  border-radius: var(--border-radius);
  border-left: var(--border-radius) solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: var(--thinshadow);
 
  padding: var(--title-padding);
  padding-left: var(--padding-left);
}